manifest {
  author = 'Eva, Martin'
  name = 'LinACov'
  description = 'Analysis pipeline to estimate sc2 lineage abundances from wastewater samples'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
}

// default parameters
params {
    max_cores = Runtime.runtime.availableProcessors()
    cores = '2'
    memory = '2'
    help = false
    profile = false

    // input
    gisaid = ''
    desh = false
    desh_data = ''
    gisaid_desh_map = ''
    query = ''


    // parameters
    continent = ''
    country = ''
    startdate = ''
    enddate = ''
    min_len = '29500'
    k = '1000'
    seed = '0'
    min_aaf = '0.5'
    max_per_lineage = '100'
    min_ab = '0'
    vocs = ''
    fragment_length = 200
    fragment_length_sd = 20
    kallisto_threads = 20


    // output
    output = 'results'
    workdir = "/tmp/nextflow-work-linacov"
    cachedir = "conda"
    runinfo = "nextflow-run-infos"
    databases = 'nextflow-autodownload-databases'
}


timeline {
  enabled = true
  file = "${params.runinfo}/execution_timeline.html"
  overwrite = true
}

report {
  enabled = true
  file = "${params.runinfo}/execution_report.html"
  overwrite = true
}

dag {
  enabled = true
  file = "${params.runinfo}/pipeline_dag.html"
  overwrite = true
}

// Use test or test_full profile for automated pipeline CI tests?
profiles {

    standard {
        executor {
                name = "local"
               	cpus = params.max_cores
        }
        workDir = params.workdir
        params.cloudProcess = false
        params.databases = 'nextflow-autodownload-databases'
        includeConfig 'configs/local.config'
        docker { enabled = false }
        includeConfig 'configs/conda.config'
    }


// executer
    local {
        executor {
                name = "local"
               	cpus = params.max_cores
        }
        workDir = params.workdir
        params.cloudProcess = false
        params.databases = 'nextflow-autodownload-databases'
        includeConfig 'configs/local.config'
    }


// engines
    conda {
        docker { enabled = false }
        includeConfig 'configs/conda.config'
    }

}
