process{
  scratch = true

  withName:process_gisaid{ cpus = 5; memory = {10.GB * task.attempt }; maxRetries = 3; errorStrategy = { task.exitStatus in 134..143 ? 'retry' : 'terminate' } }
  withName:filter_by_metadata{ cpus = 2; memory = '10GB' }
  withName:gzip_fasta{ cpus = 5; memory = {10.GB * task.attempt }; ; maxRetries = 3; errorStrategy = { task.exitStatus in 134..143 ? 'retry' : 'terminate' } }
  withName:filter_sequences{ cpus = 2; memory = '5GB' }
  withName:variant_call{ cpus = 2; memory = '10GB' }
  withName:merge_vcf{ cpus = 2; memory = '5GB' }
  withName:filter_by_aaf{ cpus = 2; memory = '5GB' }
  withName:filter_sequences_by_aaf{ cpus = 2; memory = '10GB' }
  withName:build_index{ cpus = 2; memory = '10GB' }
  withName:kallisto_prediction{ cpus = 20 ; memory = {10.GB * task.attempt }; maxRetries = 3; errorStrategy = { task.exitStatus in 134..143 ? 'retry' : 'terminate' } }
}
